/* imports */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common styles */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
main{
}

/* header banner styles */
.website-header{
    background-color: #2D25A0;
}
.header-banner{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    padding: 86px;
}
.banner-title{
    align-items: center;
}
.banner-title h1{
    font-size: 64px;
    color: #FFFFFF;
}
.banner-title button{
    background-color: #E02C6D;
    color: #FFFFFF;
    padding: 10px 20px;
    font-weight: 700;
    font-size: 16px;
}
.fa-arrow-right{
    margin-left: 5px;
}

/* animation in header  */
.website-header:hover .banner-thumbnail-image {
    transform: rotate(360deg)  scale(0.5);
    transform-origin: center;
    overflow: hidden;
    transition: transform 3s ease-in-out;
    
}
/* main part styles */

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 40px;
    margin: 50px 180px;
}
.player{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    box-shadow: 0px 0px 20px gray;
}
.player-image img{
    /* height: 256px;
    width: 300px; */
    width: 100%;
}
.player-details h1{
    font-size: 28px;
    font-weight: 700;
}
.player-details p{
    color: #6C6C6C;
    font-size: 16px;
}


/* footer design */
.footer-section{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo img{
    width: 480px;
    height: 110px;
}
.footer-icons img{
    width: 32px;
    height: 32px;
    padding: 0px 10px;
}

/* responsive */
@media only screen and (max-width:660px) {

    .header-banner{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 0px 80px;
    }
    .banner-thumbnail-image{
        width: 100%;
    }
    .players{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 15px;
        align-items: center;
    }
    .player{
        align-items: center;
    }

    .footer-logo img{
        width: 250px;
        height: 90px;
    }

    
}